@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 800px){
.dtform ul li input {
        width: 94% !important;
    }
.listform ul li input {
        width: 94% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
.dtform ul li select {
        width: 98% !important;
    }
.dtform ul li textarea {
        width: 94% !important;
    }
    .detail_nav1 {
    margin:8px 10% 0 !important;
    }
    .detail_nav2 {
    margin:8px 9% 0 !important;
    }
    .detail_nav3 {
    margin:8px 10% 0 !important;
    }

    .dtform ul li p.lab{
        width:30% !important;
    }
    .dtform ul li p.inp{
        width:67% !important;
    }

    .listform ul li p.lab{
        width:30% !important;
    }
    .listform ul li p.inp{
        width:67% !important;
    }

    .device .arrow-left{
        margin-left:0 !important;
    }
    .device{
        width:800px !important;
    }
    .dtform ul li label {
    font-size: 18px !important;
}
    .detail_nav1 figure figcaption{
        font-size:18px !important;
    }
    .detail_nav2 figure figcaption{
        font-size:18px !important;
    }
    .detail_nav3 figure figcaption{
        font-size:18px !important;
    }
    .detail_nav1_1 figure figcaption{
        font-size:18px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:18px !important;
    }
    .text_search_wrapper{
        width:97% !important;
    }
    #AddNewTaskDetailstxtAccountName{
        width:89% !important;
    } 
    #ProposalDetailstxtContactName {
    font-size: 18px;
    width: 89% !important;
}
    .dtform ul li p.inp a{
       font-size:18px !important;
   }
    #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 89% !important;
   }
}

@media only screen and (max-width: 768px){
    .dtform ul li input {
        width: 94% !important;
    }
    .listform ul li input {
        width: 94% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 {
    margin:8px 10% 0 !important;
    }
    .detail_nav2 {
    margin:8px 9% 0 !important;
    }
    .detail_nav3 {
    margin:8px 10% 0 !important;
    }

    .dtform ul li p.lab{
        width:30% !important;
    }
    .dtform ul li p.inp{
        width:67% !important;
    }
    .listform ul li p.lab{
        width:30% !important;
    }
    .listform ul li p.inp{
        width:67% !important;
    }

    .device .arrow-left{
        margin-left:0 !important;
    }
    .device{
        width:768px !important;
    }
    .dtform ul li label {
    font-size: 18px !important;
}
.detail_nav1 figure figcaption{
        font-size:18px !important;
    }
.detail_nav2 figure figcaption{
        font-size:18px !important;
    }
.detail_nav3 figure figcaption{
        font-size:18px !important;
    }
.detail_nav1_1 figure figcaption{
        font-size:18px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:18px !important;
    }
.hedmid{
    width:54% !important;
    }
.text_search_wrapper{
        width:97% !important;
    }
#AddNewTaskDetailstxtAccountName{
        width:88% !important;
    } 
#ProposalDetailstxtContactName {
    font-size: 18px;
    width: 88% !important;
}
.dtform ul li p.inp a{
       font-size:18px !important;
   }
#AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 88% !important;
   }
}

@media only screen and (max-width: 640px){
    .dtform ul li input {
        width: 94% !important;
    }
    .listform ul li input {
        width: 94% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 {
    margin:8px 10% 0 !important;
    }
    .detail_nav2 {
    margin:8px 9% 0 !important;
    }
    .detail_nav3 {
    margin:8px 10% 0 !important;
    }

    .dtform ul li p.lab{
        width:30% !important;
    }
    .dtform ul li p.inp{
        width:67% !important;
    }
    .listform ul li p.lab{
        width:30% !important;
    }
    .listform ul li p.inp{
        width:67% !important;
    }

    .device .arrow-left{
        margin-left:0 !important;
    }
    .device{
        width:640px !important;
    }
    .dtform ul li label {
    font-size: 16px !important;
}
        .detail_nav1 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:16px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:16px !important;
    }
        .text_search_wrapper{
        width:97% !important;
    }
        #AddNewTaskDetailstxtAccountName{
        width:86% !important;
    } 
        #ProposalDetailstxtContactName {
    font-size: 16px;
    width: 86% !important;
}
        .dtform ul li p.inp a{
       font-size:16px !important;
   }
        #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 86% !important;
   }
}

@media only screen and (max-width: 600px){
.dtform ul li input {
        width: 94% !important;
    }
.listform ul li input {
        width: 94% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 {
    margin:8px 10% 0 !important;
    }
    .detail_nav2 {
    margin:8px 9% 0 !important;
    }
    .detail_nav3 {
    margin:8px 10% 0 !important;
    }

    .dtform ul li p.lab{
        width:30% !important;
    }
    .dtform ul li p.inp{
        width:67% !important;
    }
    .listform ul li p.lab{
        width:30% !important;
    }
    .listform ul li p.inp{
        width:67% !important;
    }

    .device .arrow-left{
        margin-left:0 !important;
    }
    .device{
        width:600px !important;
    }
    .dtform ul li label {
    font-size: 16px !important;
}
        .detail_nav1 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:16px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:16px !important;
    }
        .text_search_wrapper{
        width:97% !important;
    }
        #AddNewTaskDetailstxtAccountName{
        width:85% !important;
    } 
        #ProposalDetailstxtContactName {
    font-size: 16px;
    width: 85% !important;
}
        .dtform ul li p.inp a{
       font-size:14px !important;
   }
        #AddNewDealDetailstxtAccountName{
    font-size: 16px;
    width: 85% !important;
   }
        #AppointmentAddNewtxtAddGuest{
    font-size: 16px;
    width: 85% !important;
   }
}

@media only screen and (max-width: 540px){
    
    .dtform ul li input {
        width: 93% !important;
    }
    .listform ul li input {
        width: 93% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 {
    margin:8px 9% 0 !important;
    }
    .detail_nav2 {
    margin:8px 8% 0 !important;
    }
    .detail_nav3 {
    margin:8px 9% 0 !important;
    }

    .dtform ul li p.lab{
        width:30% !important;
    }
    .dtform ul li p.inp{
        width:66% !important;
    }

    .listform ul li p.lab{
        width:30% !important;
    }
    .listform ul li p.inp{
        width:66% !important;
    }

    .device .arrow-left{
        margin-left:0 !important;
    }
    .device{
        width:540px !important;
    }
    .dtform ul li label {
    font-size: 16px !important;
}
        .detail_nav1 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:16px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:16px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:16px !important;
    }
        .hedmid{
    width:53% !important;
    }
        .text_search_wrapper{
        width:97% !important;
    }
        #AddNewTaskDetailstxtAccountName{
        width:83% !important;
    } 
        #ProposalDetailstxtContactName {
    font-size: 16px;
    width: 82% !important;
}
        .dtform ul li p.inp a{
       font-size:16px !important;
   }
        #AddNewDealDetailstxtAccountName{
    font-size: 16px;
    width: 83% !important;
   }
        #AppointmentAddNewtxtAddGuest{
    font-size: 16px;
    width: 83% !important;
   }
}

@media only screen and (max-width: 480px) {

    .swiper-container{
        height:640px !important;
    }

    .dtform ul li input {
        width: 93% !important;
    }
    .listform ul li input {
        width: 93% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 {
    margin:8px 8% 0 !important;
    }
    .detail_nav2 {
    margin:8px 7% 0 !important;
    }
    .detail_nav3 {
    margin:8px 8% 0 !important;
    }
    .device{
    width:480px !important;
    }
    .dtform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 figure figcaption{
    font-size:14px !important;
    }
    .detail_nav2 figure figcaption{
    font-size:14px !important;
    }
    .detail_nav3 figure figcaption{
    font-size:14px !important;
    }
    .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
    .hedmid{
    width:52% !important;
    }
    .text_search_wrapper{
        width:97% !important;
    }
    #AddNewTaskDetailstxtAccountName{
        width:81% !important;
    } 
    #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 79% !important;
}
    .dtform ul li p.inp a{
       font-size:14px !important;
   }
    #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 81% !important;
   }
    #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 81% !important;
   }
    .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
}

@media only screen and (max-width: 414px){
    .dtform ul li input {
        width: 90% !important;
    }
    .listform ul li input {
        width: 90% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}

 .detail_nav1 {
    margin:8px 6% 0 !important;
    }
    .detail_nav2 {
    margin:8px 5% 0 !important;
    }
    .detail_nav3 {
    margin:8px 6% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}
        .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	.device{
        width:400px !important;
    }
	.device {
    font-size:13px;	
   height: 355px;
    position: relative;
}  
  
            .hedmid{
        width:50% !important;
    }
            .text_search_wrapper{
        width:99% !important;
    }
            #AddNewTaskDetailstxtAccountName{
        width:77% !important;
    } 
            #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 75% !important;
}
            .dtform ul li p.inp a{
       font-size:14px !important;
   }
            #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 77% !important;
   }
            #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 77% !important;
   }
            .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
}

@media only screen and (max-width: 400px){
    .dtform ul li input {
        width: 90% !important;
    }
    .listform ul li input {
        width: 90% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}

 .detail_nav1 {
    margin:8px 6% 0 !important;
    }
    .detail_nav2 {
    margin:8px 5% 0 !important;
    }
    .detail_nav3 {
    margin:8px 6% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}
        .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	.device{
        width:400px !important;
    }
	.device {
    font-size:13px;	
   height: 355px;
    position: relative;
}  
  
            .hedmid{
        width:50% !important;
    }
            .text_search_wrapper{
        width:99% !important;
    }
            #AddNewTaskDetailstxtAccountName{
        width:77% !important;
    } 
            #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 75% !important;
}
            .dtform ul li p.inp a{
       font-size:14px !important;
   }
            #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 77% !important;
   }
            #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 77% !important;
   }
            .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
}

@media only screen and (max-width: 384px){
    .dtform ul li input {
        width: 90% !important;
    }
    .listform ul li input {
        width: 90% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}

 .detail_nav1 {
    margin:8px 6% 0 !important;
    }
    .detail_nav2 {
    margin:8px 5% 0 !important;
    }
    .detail_nav3 {
    margin:8px 6% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}
        .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	.device{
        width:384px !important;
    }
	.device {
    font-size:13px;	
   height: 355px;
    position: relative;
} 
            .hedmid{
        width:50% !important;
    }
            .text_search_wrapper{
        width:99% !important;
    }
            #AddNewTaskDetailstxtAccountName{
        width:77% !important;
    } 
            #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 75% !important;
}
            .dtform ul li p.inp a{
       font-size:14px !important;
   }
            #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 77% !important;
   }
            #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 77% !important;
   }
            .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
}

@media only screen and (max-width: 375px){
.dtform ul li input {
        width: 90% !important;
    }
.dtform ul li select {
        width: 100% !important;
    }

.dtform ul li textarea {
        width: 88% !important;
    }

 .detail_nav1 {
    margin:8px 7% 0 !important;
    }
    .detail_nav2 {
    margin:8px 5% 0 !important;
    }
    .detail_nav3 {
    margin:8px 7% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}

    .listform ul li input {
        width: 90% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
        .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	.device{
        width:360px !important;
    }
	.device {
    font-size:13px;	
   height: 355px;
    position: relative;
}  
        .hedmid{
        width:50% !important;
    }
        .text_search_wrapper{
        width:99% !important;
    }
        #AddNewTaskDetailstxtAccountName{
        width:76% !important;
    } 
        #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 73% !important;
}
        .dtform ul li p.inp a{
       font-size:14px !important;
   }
        #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 76% !important;
   }
        #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 76% !important;
   }
    .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
	.LoginBtnClass{ width:100%!important;}
}

@media only screen and (max-width: 360px){

.dtform ul li input {
        width: 90% !important;
    }
.dtform ul li select {
        width: 100% !important;
    }

.dtform ul li textarea {
        width: 88% !important;
    }

 .detail_nav1 {
    margin:8px 7% 0 !important;
    }
    .detail_nav2 {
    margin:8px 5% 0 !important;
    }
    .detail_nav3 {
    margin:8px 7% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}

    .listform ul li input {
        width: 90% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}
        .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav3 figure figcaption{
        font-size:14px !important;
    }
        .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	.device{
        width:360px !important;
    }
	.device {
    font-size:13px;	
   height: 355px;
    position: relative;
}  
        .hedmid{
        width:50% !important;
    }
        .text_search_wrapper{
        width:99% !important;
    }
        #AddNewTaskDetailstxtAccountName{
        width:76% !important;
    } 
        #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 73% !important;
}
        .dtform ul li p.inp a{
       font-size:14px !important;
   }
        #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 76% !important;
   }
        #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 76% !important;
   }
    .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
}

@media only screen and (max-width: 320px) {

.dtform ul li input {
        width: 88% !important;
    }

.dtform ul li select {
        width: 100% !important;
    }

.dtform ul li textarea {
        width: 88% !important;
    }
.listform ul li input {
        width: 88% !important;
    }
    .listform ul li label {
    font-size: 14px !important;
}

 .detail_nav1 {
    margin:8px 5% 0 !important;
    }
    .detail_nav2 {
    margin:8px 4% 0 !important;
    }
    .detail_nav3 {
    margin:8px 5% 0 !important;
    }	
    .dtform ul li label {
    font-size: 14px !important;
}
    .detail_nav1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav2 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav3 figure figcaption{
        font-size:14px !important;
    }

    .detail_nav1_1 figure figcaption{
        font-size:14px !important;
    }
    .detail_nav1_2 figure figcaption{
        font-size:14px !important;
    }
	
 /*.swiper-slide div figure img{ width:30%;}*/
 	
 .device{
        width:320px !important;
    }
	.device {
    font-size:13px;	
    height: 355px;
    position: relative;
}  

    .hedmid{
        width:49% !important;
    }
    .text_search_wrapper{
        width:99% !important;
    }
   #AddNewTaskDetailstxtAccountName{
        width:73% !important;
    } 

   #ProposalDetailstxtContactName {
    font-size: 14px;
    width: 70% !important;
}
   .dtform ul li p.inp a{
       font-size:14px !important;
   }
   #AddNewDealDetailstxtAccountName{
    font-size: 14px;
    width: 73% !important;
   }
   #AppointmentAddNewtxtAddGuest{
    font-size: 14px;
    width: 73% !important;
   }
   .dlist ul li a h4{
        font-size:16px !important;
    }
    .dlist ul li p{
        font-size:14px !important;
    }
    .dlist ul li span{
        font-size:14px !important;
    }
     
}



/*--- scrolling height adjustment for different screens ---*/

@media only screen and (max-height:1280px) {
    .swiper-container {   height: 1105px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 1105px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:10% 0 !important;}
    .deal_dashboard2_dtwo{margin:10% 0 !important;}
    .deal_dashboard2_thre{margin:10% 0 !important;}
    .deal_dashboard2_for{margin:10% 0 !important;}
    .deal_dashboard1_six{margin:10% 0 !important;}
    .deal_dashboard2_five{margin:10% 0 !important;}
    .deal_dashboard2_left{margin:10% 0 !important;}
    .deal_dashboard2_one{margin:10% 0 !important;}
    .deal_dashboard2_two{margin:10% 0 !important;}
    .deal_dashboard2_three{margin:10% 0 !important;}
    .deal_dashboard2_fifth{margin:10% 0 !important;}
    .deal_dashboard2_four{margin:10% 0 !important;}
    .deal_dashboard3_left{margin:10% 0 !important;}
    .deal_dashboard3_one{margin:10% 0 !important;}
    .deal_dashboard3_two{margin:10% 0 !important;}
    .deal_dashboard2_thee{margin:10% 0 !important;}
    .deal_dashboard2_eleven{margin:10% 0 !important;}
    .deal_dashboard2_twelve{margin:10% 0 !important;}
    .device{margin:150px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:100% !important;}
    .device .arrow-right{margin-top:0 !important; top:100% !important;}
}

@media only screen and (max-height:1024px) {
    .swiper-container {   height: 849px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 849px !important;
            }
            .margin-space{margin-top:55px !important;}
        .deal_dashboard2_done{margin:8.5% 0 !important;}
    .deal_dashboard2_dtwo{margin:8.5% 0 !important;}
    .deal_dashboard2_thre{margin:8.5% 0 !important;}
    .deal_dashboard2_for{margin:8.5% 0 !important;}
    .deal_dashboard1_six{margin:8.5% 0 !important;}
    .deal_dashboard2_five{margin:8.5% 0 !important;}
    .deal_dashboard2_left{margin:8.5% 0 !important;}
    .deal_dashboard2_one{margin:8.5% 0 !important;}
    .deal_dashboard2_two{margin:8.5% 0 !important;}
    .deal_dashboard2_three{margin:8.5% 0 !important;}
    .deal_dashboard2_fifth{margin:8.5% 0 !important;}
    .deal_dashboard2_four{margin:8.5% 0 !important;}
    .deal_dashboard3_left{margin:8.5% 0 !important;}
    .deal_dashboard3_one{margin:8.5% 0 !important;}
    .deal_dashboard3_two{margin:8.5% 0 !important;}
    .deal_dashboard2_thee{margin:8.5% 0 !important;}
    .deal_dashboard2_eleven{margin:8.5% 0 !important;}
    .deal_dashboard2_twelve{margin:8.5% 0 !important;}
    .device{margin:130px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:80% !important;}
    .device .arrow-right{margin-top:0 !important; top:80% !important;}
}

@media only screen and (max-height:960px) {
    .swiper-container {   height: 785px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 785px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:35px 0 !important;}
    .deal_dashboard2_dtwo{margin:35px 0 !important;}
    .deal_dashboard2_thre{margin:35px 0 !important;}
    .deal_dashboard2_for{margin:35px 0 !important;}
    .deal_dashboard1_six{margin:35px 0 !important;}
    .deal_dashboard2_five{margin:35px 0 !important;}
    .deal_dashboard2_left{margin:35px 0 !important;}
    .deal_dashboard2_one{margin:35px 0 !important;}
    .deal_dashboard2_two{margin:35px 0 !important;}
    .deal_dashboard2_three{margin:35px 0 !important;}
    .deal_dashboard2_fifth{margin:35px 0 !important;}
    .deal_dashboard2_four{margin:35px 0 !important;}
    .deal_dashboard3_left{margin:35px 0 !important;}
    .deal_dashboard3_one{margin:35px 0 !important;}
    .deal_dashboard3_two{margin:35px 0 !important;}
    .deal_dashboard2_thee{margin:35px 0 !important;}
    .deal_dashboard2_eleven{margin:35px 0 !important;}
    .deal_dashboard2_twelve{margin:35px 0 !important;}
    .device{margin:130px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:58% !important;}
    .device .arrow-right{margin-top:0 !important; top:58% !important;}
}

@media only screen and (max-height:800px) {
    .swiper-container {   height: 625px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 625px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:35px 0 !important;}
    .deal_dashboard2_dtwo{margin:35px 0 !important;}
    .deal_dashboard2_thre{margin:35px 0 !important;}
    .deal_dashboard2_for{margin:35px 0 !important;}
    .deal_dashboard1_six{margin:35px 0 !important;}
    .deal_dashboard2_five{margin:35px 0 !important;}
    .deal_dashboard2_left{margin:35px 0 !important;}
    .deal_dashboard2_one{margin:35px 0 !important;}
    .deal_dashboard2_two{margin:35px 0 !important;}
    .deal_dashboard2_three{margin:35px 0 !important;}
    .deal_dashboard2_fifth{margin:35px 0 !important;}
    .deal_dashboard2_four{margin:35px 0 !important;}
    .deal_dashboard3_left{margin:35px 0 !important;}
    .deal_dashboard3_one{margin:35px 0 !important;}
    .deal_dashboard3_two{margin:35px 0 !important;}
    .deal_dashboard2_thee{margin:35px 0 !important;}
    .deal_dashboard2_eleven{margin:35px 0 !important;}
    .deal_dashboard2_twelve{margin:35px 0 !important;}
    .device{margin:110px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:58% !important;}
    .device .arrow-right{margin-top:0 !important; top:58% !important;}
}

@media only screen and (max-height:768px) {
    .swiper-container {   height: 593px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 593px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:90px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
}

@media only screen and (max-height:736px) {
    .swiper-container {   height: 576px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 576px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:90px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
}

@media only screen and (max-height:667px) {
    .swiper-container {   height: 465px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 465px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:90px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
	
}

@media only screen and (max-height:640px) {
    .swiper-container {   height: 465px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 465px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:90px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
}

@media only screen and (max-height:615px) {
    .swiper-container {   height: 440px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 440px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:70px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
}

@media only screen and (max-height:600px) {
    .swiper-container {   height: 425px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 425px !important;
            }
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:30px 0 !important;}
    .deal_dashboard2_dtwo{margin:30px 0 !important;}
    .deal_dashboard2_thre{margin:30px 0 !important;}
    .deal_dashboard2_for{margin:30px 0 !important;}
    .deal_dashboard1_six{margin:30px 0 !important;}
    .deal_dashboard2_five{margin:30px 0 !important;}
    .deal_dashboard2_left{margin:30px 0 !important;}
    .deal_dashboard2_one{margin:30px 0 !important;}
    .deal_dashboard2_two{margin:30px 0 !important;}
    .deal_dashboard2_three{margin:30px 0 !important;}
    .deal_dashboard2_fifth{margin:30px 0 !important;}
    .deal_dashboard2_four{margin:30px 0 !important;}
    .deal_dashboard3_left{margin:30px 0 !important;}
    .deal_dashboard3_one{margin:30px 0 !important;}
    .deal_dashboard3_two{margin:30px 0 !important;}
    .deal_dashboard2_thee{margin:30px 0 !important;}
    .deal_dashboard2_eleven{margin:30px 0 !important;}
    .deal_dashboard2_twelve{margin:30px 0 !important;}
    .device{margin:70px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:52% !important;}
    .device .arrow-right{margin-top:0 !important; top:52% !important;}
}

@media only screen and (max-height:568px) {
    .swiper-container {   height: 393px !important; z-index:2 } 	
            .swiper-parent
            {
                height: 393px !important;
            }
            .margin-space{margin-top:55px !important;}
        .deal_dashboard2_done{margin:25px 0 !important;}
    .deal_dashboard2_dtwo{margin:25px 0 !important;}
    .deal_dashboard2_thre{margin:25px 0 !important;}
    .deal_dashboard2_for{margin:25px 0 !important;}
    .deal_dashboard1_six{margin:25px 0 !important;}
    .deal_dashboard2_five{margin:25px 0 !important;}
    .deal_dashboard2_left{margin:25px 0 !important;}
    .deal_dashboard2_one{margin:25px 0 !important;}
    .deal_dashboard2_two{margin:25px 0 !important;}
    .deal_dashboard2_three{margin:25px 0 !important;}
    .deal_dashboard2_fifth{margin:25px 0 !important;}
    .deal_dashboard2_four{margin:25px 0 !important;}
    .deal_dashboard3_left{margin:25px 0 !important;}
    .deal_dashboard3_one{margin:25px 0 !important;}
    .deal_dashboard3_two{margin:25px 0 !important;}
    .deal_dashboard2_thee{margin:25px 0 !important;}
    .deal_dashboard2_eleven{margin:25px 0 !important;}
    .deal_dashboard2_twelve{margin:25px 0 !important;}
    .device{margin:70px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:46% !important;}
    .device .arrow-right{margin-top:0 !important; top:46% !important;}
}

@media only screen and (max-height:533px) {
    .swiper-container {   height: 358px !important; z-index:2 } 	
        .swiper-parent{height: 358px !important;}
        .margin-space{margin-top:55px !important;}
        .deal_dashboard2_done{margin:25px 0 !important;}
    .deal_dashboard2_dtwo{margin:25px 0 !important;}
    .deal_dashboard2_thre{margin:25px 0 !important;}
    .deal_dashboard2_for{margin:25px 0 !important;}
    .deal_dashboard1_six{margin:25px 0 !important;}
    .deal_dashboard2_five{margin:25px 0 !important;}
    .deal_dashboard2_left{margin:25px 0 !important;}
    .deal_dashboard2_one{margin:25px 0 !important;}
    .deal_dashboard2_two{margin:25px 0 !important;}
    .deal_dashboard2_three{margin:25px 0 !important;}
    .deal_dashboard2_fifth{margin:25px 0 !important;}
    .deal_dashboard2_four{margin:25px 0 !important;}
    .deal_dashboard3_left{margin:25px 0 !important;}
    .deal_dashboard3_one{margin:25px 0 !important;}
    .deal_dashboard3_two{margin:25px 0 !important;}
    .deal_dashboard2_thee{margin:25px 0 !important;}
    .deal_dashboard2_eleven{margin:25px 0 !important;}
    .deal_dashboard2_twelve{margin:25px 0 !important;}
    .device{margin:70px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:46% !important;}
    .device .arrow-right{margin-top:0 !important; top:46% !important;}
}

@media only screen and (max-height:496px) {
    .swiper-container {   height: 321px !important; z-index:2 } 	
            .swiper-parent{height: 321px !important;}
            .margin-space{margin-top:55px !important;}
            .deal_dashboard2_done{margin:17px 0 !important;}
    .deal_dashboard2_dtwo{margin:17px 0 !important;}
    .deal_dashboard2_thre{margin:17px 0 !important;}
    .deal_dashboard2_for{margin:17px 0 !important;}
    .deal_dashboard1_six{margin:17px 0 !important;}
    .deal_dashboard2_five{margin:17px 0 !important;}
    .deal_dashboard2_left{margin:17px 0 !important;}
    .deal_dashboard2_one{margin:17px 0 !important;}
    .deal_dashboard2_two{margin:17px 0 !important;}
    .deal_dashboard2_three{margin:17px 0 !important;}
    .deal_dashboard2_fifth{margin:17px 0 !important;}
    .deal_dashboard2_four{margin:17px 0 !important;}
    .deal_dashboard3_left{margin:17px 0 !important;}
    .deal_dashboard3_one{margin:17px 0 !important;}
    .deal_dashboard3_two{margin:17px 0 !important;}
    .deal_dashboard2_thee{margin:17px 0 !important;}
    .deal_dashboard2_eleven{margin:17px 0 !important;}
    .deal_dashboard2_twelve{margin:17px 0 !important;}
    .device{margin:55px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:40% !important;}
    .device .arrow-right{margin-top:0 !important; top:40% !important;}
}

@media only screen and (max-height:480px) {
    .swiper-container{height: 305px !important; z-index:2 } 	
    .swiper-parent{height: 305px !important;}
    .margin-space{margin-top:55px !important;}
    .deal_dashboard2_done{margin:17px 0 !important;}
    .deal_dashboard2_dtwo{margin:17px 0 !important;}
    .deal_dashboard2_thre{margin:17px 0 !important;}
    .deal_dashboard2_for{margin:17px 0 !important;}
    .deal_dashboard1_six{margin:17px 0 !important;}
    .deal_dashboard2_five{margin:17px 0 !important;}
    .deal_dashboard2_left{margin:17px 0 !important;}
    .deal_dashboard2_one{margin:17px 0 !important;}
    .deal_dashboard2_two{margin:17px 0 !important;}
    .deal_dashboard2_three{margin:17px 0 !important;}
    .deal_dashboard2_fifth{margin:17px 0 !important;}
    .deal_dashboard2_four{margin:17px 0 !important;}
    .deal_dashboard3_left{margin:17px 0 !important;}
    .deal_dashboard3_one{margin:17px 0 !important;}
    .deal_dashboard3_two{margin:17px 0 !important;}
    .deal_dashboard2_thee{margin:17px 0 !important;}
    .deal_dashboard2_eleven{margin:17px 0 !important;}
    .deal_dashboard2_twelve{margin:17px 0 !important;}
    .device{margin:55px auto 5px !important;}
    .device .arrow-left{margin-top:0 !important; top:40% !important;}
    .device .arrow-right{margin-top:0 !important; top:40% !important;}
}

/*--- scrolling height adjustment for different screens ---*/