@charset "utf-8";
/* CSS Document */
body,h4,p,ul,li,span,label,input,progress,figcaption,figure,img,select,option{margin:0px; padding:0px;font-family:Arial, Helvetica, sans-serif; outline: 0;} 
body{ margin:0 auto; font-family:Arial, Helvetica, sans-serif; }
a{text-decoration:none;}	
.maind{ width:100%; margin:0 auto; clear:both }
.main-nav{ width:100%; margin:0 auto; height:77px; }
.mgtp{ margin-top:15px}

.menu-class-admin-options{float:left;width:100%; border: 2px solid Lightgray; } 
.dsearch{ width:80%; float:left; margin:28px 0px 3px 0px; border: 2px solid Lightgray; } 
.dsearch .search_text { width:90%;  padding-left:40px;    border-radius: 80px;  background:url(../images_d/search1.png) no-repeat ; position:relative; z-index:9; height: 35px; border:none; }
.dsearch input[placeholder="search"]{   padding-left: 32px;  text-align: inherit; border: 1px solid gray; }
.dsearch{ width:83%; float:left; margin:35px 0px 3px 0px; border-radius: 80px;margin-left: 7%; }
.dsearch .search_text { width:95% !important; padding-left:40px;    border-radius: 80px;  background:url(../images_d/search1.png) no-repeat ; position:relative; z-index:9; height: 35px; }
.dsearch input[placeholder="search"]{   padding-left: 32px;  text-align: inherit; border: 1px solid gray; }
.search_button_wrapper { width:5%; float:right;margin-top: 0.7%;padding: 4px; cursor:pointer; }
.search_input_wrapper { width: 93%; float: left; }
.welsc { width:90%; clear:both;  margin:24px 3% 0px 3% }
.welhead{font-size:23px;  padding:4px 0px 10px 0px}
.weltxt p{font-size:17px; line-height:27px; text-align:justify; padding:5px 0px  }

.dlist{ width:90%; clear:both; margin:0px 3%}
.dlist ul{ list-style:none;  	}
.dlist ul li{ border-bottom:1px solid #D3D1D1; margin:10px 0px 0px 0px; padding:10px 0px	}

.dlist ul li h4{ font-weight:normal; font-size:23px; width:100%}	
/*.dlist ul li h4 a{color:#FF2D6C; text-decoration:none}*/
.dlist ul li p{ color:#757575;  margin:10px 0px 0px 0px; font-size:17px;  width:100% }
.dlist ul li span{color:#757575;  font-size:17px; width:100%}
.dealheader{float:left;	width:100%; height:50px;  background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, #FAC6D6),
 color-stop(1, #F7E7EC)
);
background-image: -o-linear-gradient(bottom, #FAC6D6 0%, #F7E7EC 100%);
background-image: -moz-linear-gradient(bottom, #FAC6D6 0%, #F7E7EC 100%);
background-image: -webkit-linear-gradient(bottom, #FAC6D6 0%, #F7E7EC 100%);
background-image: -ms-linear-gradient(bottom, #FAC6D6 0%, #F7E7EC 100%);
background-image: linear-gradient(to bottom, #FAC6D6 0%, #F7E7EC 100%);} 
.logo{ float:left; width:20%; padding:0px 0px 0px 25px ; }
.hedlft1 { float:left; width:100%; font-size:23px; color:#808185; height:27px}
.hedlft2{ float:left; width:100%; font-size:14px;color:#808185; 	}	 
.hedmid{float:left; width:54%; font-size:14px; padding:6px 0px 0px  0px;  height:35px; text-align:center}  
.hedrht{float:right; width:20%; font-size:14px; padding:6px 10px 0px  0px; height:43px; text-align:right; } 

.inputbx{float:left;color:#6D145E;font-size:13px; width:90%; clear:both; margin:0px 3%; }	
.inputbx  p.inp{float:left; width:97%; margin:0px 0px 0px 0px; }
.inputbx  input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px medium #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }

.divtemp{float:left;color:#000;font-size:13px; width:89%; clear:both; margin:17px 3% 0px 3%; line-height:26px;  height:200px }
/*.dtform {float:left;color:#FF2D6C;font-size:13px; width:90%; clear:both; margin:0px 3%}	*/
.dtform ul{list-style:none; margin:0px; padding:0px;}	
.dtform ul li {line-height:38px;  float:left; width:100%;  margin:25px 0px ; }
.dtform ul li p.lab{float:left; width:38%; line-height:20px;    }
.dtform ul li label{ font-size:14px;   text-align:right; width:100% }
.dtform ul li p.inp a{ color:#757575; font-size:22px; }

.dtform ul li input a{ color:#757575; font-size:22px; }

.dtform ul li p.inp{float:left; width:55%; margin:0px 0px 0px 15px; }
.dtform ul li input{ font-size:18px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }

.dtform ul li select{ font-size:18px; font-weight:normal; border:1px solid #D6D2CB; color:#757575; padding:4px 10px 7px 10px; 
margin:0px 0px ; width:100%; }
.dtform ul li select option{ margin-bottom:10px}
.dtform ul li textarea{ font-size:18px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;   border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:93%;}


.listform {float:left;color:#6D145E;font-size:13px; width:100%; clear:both; margin:50px 0; }	
.listform ul{list-style:none; margin:0px; padding:0px;}	
.listform ul li {line-height:38px;  float:left; width:100%;  margin:0px 0px;   }
.listform ul li p.lab{float:left; width:15%; line-height:20px; margin:0px;    }
.listform ul li label{ font-size:14px;   text-align:right; width:100%;  }
.listform ul li p.inp{float:left; width:73%; margin:0px 0px 0px 10px; }
.listform ul li input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }


.lstdtfrmn {float:left;font-size:13px; width:90%; clear:both; margin:0px 3%}	
.lstdtfrmn ul{list-style:none; margin:0px; padding:0px;}	
.lstdtfrmn ul li {line-height:38px;  float:left; width:100%;  margin:25px 0px ; }
.lstdtfrmn ul li p.lab{float:left; width:10%; line-height:20px;    }
.lstdtfrmn ul li label{ font-size:14px;   text-align:right; width:100%; padding-left:50px }

.lstdtfrmn ul li p.inp{float:left; width:88%; margin:0px 0px 0px 15px; }
.lstdtfrmn ul li input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px medium #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }

.lstdtfrmn ul li select{ font-size:22px; font-weight:normal; border:1px solid #D6D2CB; color:#757575; padding:4px 10px 7px 10px; 
margin:0px 0px ; width:103%; }
.lstdtfrmn ul li select option{ margin-bottom:10px}




/*.footer{ width:100%; margin-top: 25px; background-color:#FF2D6C; height:18px ; padding:8px 0px 15px 0px; clear:both;  bottom:0px; z-index:5}*/
.footerc{margin:0px auto; width:80%;}	
.footer img{   padding:0px 5% 0px 5% }
.footer_left {  float: left;   text-align: right;  width: 75%; }
.footer_right {   text-align: right;  }

.device { background:#fff; height: 34px; margin: 30px 5% 5px 5%;position: relative; width: 90%; clear:both; }

.swiper-container {  height: 450px;  width: 96%; margin:0px 2% 0px 2%; z-index:2}   
.device .arrow-left {  background: url(img/arrows.png) no-repeat left top; position: absolute;
  left: 10px; top: 50%; margin-top: -15px; width: 17px; height: 30px; }  
.device .arrow-right {  background: url(img/arrows.png) no-repeat left bottom;  position: absolute; right: 10px;
  top: 50%;  margin-top: -15px;   width: 17px;   height: 30px; }

.invest_nav1{ float:left;  margin:8px 2% 0px  5% ; padding:0px 0px	}
.invest_nav2{ float:left;  margin:8px 5% 0px  2% ;   padding:0px 0px }
.invest_nav3{ float:left;  margin:8px 5% 0px  -2% ; padding:0px 0px  }

.invest_nav1_1{ float:left; margin:8px 5%  0px 5%   ; padding:0px 0px	}
.invest_nav2_1{ float:left; margin:11px 5%  0px 5% ; padding:0px 0px }
.invest_nav3_1{ float:left; margin:9px 5%  0px 5% ; padding:0px 0px  }

.invest_nav1_3{ float:left;  margin:9px 5px 0px 5px;  padding:0px 0px  }
.invest_nav2_3{ float:left;  margin:9px 5px 0px 7px !important;  padding:0px 0px  }

.invest_nav4_4{ float:left;  margin:8px 5% 0px  5% ; padding:0px 0px	}
.invest_nav4_5{ float:left;  margin:4px 5% 0px  5% ;   padding:0px 0px }
.invest_nav4_6{ float:left;  margin:4px 5% 0px  5% ; padding:0px 0px  }
.invest_nav4_7{ float:left;  margin:4px 5% 0px  5% ; padding:0px 0px  }

.invest_nav1 figure{ text-align:center;  }	
.invest_nav2 figure{text-align:center; }
.invest_nav3 figure	{text-align:center; }
.invest_nav1_1 figure{ text-align:center; }
.invest_nav2_1 figure{text-align:center; }	
.invest_nav3_1 figure{ text-align:center; }
.invest_nav1_3 figure{text-align:center; }	
.invest_nav2_3 figure{ text-align:center; }

.invest_nav4_4 figure{text-align:center; }	
.invest_nav4_5 figure{ text-align:center; }
.invest_nav4_6 figure{text-align:center; }	
.invest_nav4_7 figure{ text-align:center; }

.invest_nav1 figure figcaption{ text-align:center; font-size:14px;  color: black;}
.invest_nav2 figure figcaption{text-align:center; font-size:14px;  color: black;}
.invest_nav3 figure figcaption{text-align:center; font-size:14px;  color: black;}

.invest_nav1_1 figure figcaption{ text-align:center; font-size:14px;  color: black;}
.invest_nav2_1 figure figcaption{text-align:center; font-size:14px;  color: black;}

.invest_nav3_1 figure figcaption{text-align:center; font-size:14px;   color: black;}
.invest_nav1_3 figure figcaption{text-align:center; font-size:14px;   color: black;}
.invest_nav2_3 figure figcaption{text-align:center; font-size:14px;  color: black;}

.invest_nav4_4 figure figcaption{text-align:center; font-size:14px;   color: black;}
.invest_nav4_5 figure figcaption{text-align:center; font-size:14px;   color: black;}
.invest_nav4_6 figure figcaption{text-align:center; font-size:14px;  color: black;}
.invest_nav4_7 figure figcaption{text-align:center; font-size:14px;  color: black;}

.detail_nav1{ float:left;  margin:8px 3% 0px  3% ; padding:0px 0px	}	
.detail_nav2{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }	
.detail_nav3{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }	
.detail_nav1_1{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }	
.detail_nav1_2{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }		
.detail_nav1_3{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }			
	
.detail_nav1 figure{ text-align:center; padding:5px;}
.detail_nav2 figure{ text-align:center; padding:5px;}
.detail_nav3 figure{ text-align:center; padding:5px;}	
.detail_nav1_1 figure{ text-align:center; padding:5px;}
.detail_nav1_2 figure{ text-align:center; padding:5px;}
.detail_nav1_3 figure{ text-align:center; padding:5px;}

.detail_nav1 figure figcaption{ text-align:center; font-size:14px;  color: black;}
.detail_nav2 figure figcaption{ text-align:center; font-size:14px;  color: black;  }
.detail_nav3 figure figcaption{ text-align:center; font-size:14px;  color: black;}
.detail_nav1_1 figcaption{ text-align:center; font-size:14px;  color: black;}
.detail_nav1_2 figcaption{ text-align:center; font-size:14px;  color: black;}
.detail_nav1_3 figcaption{ text-align:center; font-size:14px;  color: black;}


#page_navigation a{ padding:3px; margin:2px; color:black; text-decoration:none }

/*.active_page{ background:#FF2D6C; color:white !important; }*/
.content-slide {  padding: 20px;  color: #fff; }
.title {  font-size: 25px;  margin-bottom: 10px; }

.pagination {  position: absolute;  left: 0;  text-align: center;   bottom:5px;  width: 100%;display:none; }

.swiper-pagination-switch {  display: inline-block; width: 10px;   height: 10px;  border-radius: 10px;
  background: #999;  box-shadow: 0px 1px 2px #555 inset;   margin: 0 3px;   cursor: pointer; }

.swiper-active-switch {   background: #fff;}
/*.dbadmin {float:left;color:#FF2D6C;font-size:13px; width:90%; clear:both; margin:0px 3% }	*/
.dbadmin ul{list-style:none; margin:0px; padding:0px; }	
.dbadmin ul li {  float:left;width:100%;  margin:15px 0px 15px 0px ; font-family:Arial, Helvetica, sans-serif}
.dbadmin ul li div.labeldb{ font-size:14px;  width:17%;float:left; text-align:right;  margin-left:6%  }
.dbadmin ul li div.spandb{ width:10%;float:left; font-size:22px; font-weight:normal;  color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; font-family:Arial, Helvetica, sans-serif; margin:0px 3% 0px 8%; }
.dbadmin ul li div.progressdb{width:40%;float:left; margin-top:0px;  }

 progress {  background-color:#f3f3f3;  border:0; height:18px; width:100%;  }    
 /*progress::-webkit-progress-bar {  background-color:#FF2D6C; }   
 progress::-moz-progress-bar {    background-color:#FF2D6C; } */
.container_height { height:56px !important; }
.text_search_wrapper{ float: left;font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px; margin:0px 0px ; width:100%; }
.text_search_wrapper input {border:none !important; width:70% !important; float:left !important;}
.search_Image_text { margin:0px !important;margin-top: 4px !important;padding: 3px; }

@media only screen and  (min-width: 768px) {
	
	
.dsearch{ width:83%; float:left; margin:35px 0px 3px 0px; border-radius: 80px;margin-left: 7%; }
.dsearch .search_text { width:95% !important; padding-left:40px;    border-radius: 80px;  background:url(../images_d/search1.png) no-repeat ; position:relative; z-index:9; height: 35px; }
.dsearch input[placeholder="search"]{   padding-left: 32px;  text-align: inherit; border: 1px solid gray; }


.dealwrap{width:96%}	
		
.nav{float:left; height:54px;  width: 100%; margin:0px auto;   }
.nav ul{list-style:none; margin:20px auto 15px auto; padding:0px;}
.nav ul li{ float: left; display:inline; margin:0px 15% 0px 0px; color:#757575; text-align:right  }
.nav ul li p{}

.dtform {float:left;font-size:13px; }
.dtform ul{list-style:none; margin:0px; padding:0px;}	
.dtform ul li {line-height:38px;  float:left;width:100%;  margin:25px 0px ; }
.dtform ul li p.lab{float:left; width:26%; line-height:20px;    }
.dtform ul li label{ font-size:14px;  text-align:right  }
.dtform ul li p.inp{float:left; width:69%; margin:0px 0px 0px 15px; }
.dtform ul li input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }
.dtform ul li select{ font-size:22px; font-weight:normal; border:1px solid #D6D2CB; color:#757575; padding:4px 10px 7px 10px; 
margin:0px 0px ; width:103%; }
.dtform ul li select option{ margin-bottom:10px}
.dtform ul li textarea{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%;}

.dbadmin {float:left;padding-top:20px;font-size:13px; width:90%; clear:both; margin:0px 3% }	
.dbadmin {float:left;padding-top:20px;font-size:13px; width:90%; clear:both; margin:0px 3% }
.dbadmin ul{list-style:none; margin:0px; padding:0px; }	
.dbadmin ul li {  float:left;width:100%;  margin:15px 0px 15px 0px ; font-family:Arial, Helvetica, sans-serif}
.dbadmin ul li div.labeldb{ font-size:14px;  width:17%;float:left; text-align:right;  margin-left:6%  }
.dbadmin ul li div.spandb{ width:10%;float:left; font-size:22px; font-weight:normal;  color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; font-family:Arial, Helvetica, sans-serif; margin:0px 3% 0px 8%; }
.dbadmin ul li div.progressdb{width:40%;float:left; margin-top:0px;  }
 progress {  background-color:#f3f3f3;  border:0; height:18px; width:100%;  }    
 /*progress::-webkit-progress-bar {  background-color:#FF2D6C; }   
 progress::-moz-progress-bar {    background-color:#FF2D6C; } */

.footer{ width:100%; margin-top: 5px;  height:18px ; padding:8px 0px 15px 0px; clear:both;  bottom:0px; z-index:5; text-align:center; }/* position:fixed;*/
.footerc{margin:0px auto; width:80%;}	
.footer img{   padding:0px 8% 0px 8% }
.footer_left {  float: left;   text-align: right;  width: 75%; }
.footer_right {   text-align: right;  }

.device { background:#fff; height: 34px; margin: 30px 5% 5px 5%;position: relative; width: 90%; clear:both }

.swiper-container {   height: 450px; width: 96%; margin:0px 2% 0px 2%; z-index:2 }   
.device .arrow-left {  background: url(img/arrows.png) no-repeat left top; position: absolute;
  left: 10px; top: 50%; margin-top: -15px; width: 17px; height: 30px; }  
.device .arrow-right {  background: url(img/arrows.png) no-repeat left bottom;  position: absolute; right: 10px;
  top: 50%;  margin-top: -15px;   width: 17px;   height: 30px; }

.text_search_wrapper{ float: left;font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px; margin:0px 0px ; width:103%; }
.text_search_wrapper input {border:none !important; width:93% !important; float:left !important;}
}



@media only screen and (max-width: 480px)  and (orientation : Portrait){  /* Shubham  Portrait  */

.main{ width:100%; margin:0 auto; }
.detail_main{ width:100%; margin:0 auto; }
welsc { width:90%; clear:both;  margin:24px 3% 0px 3% }
.welhead{font-size:23px;  padding:4px 0px 10px 0px}
.weltxt p{   font-size:17px; line-height:27px; text-align:justify; padding:5px 0px  }

.weltxt img{ width:100%}

.dlist ul{ list-style:none;   	}
.dlist ul li{ padding:10px 0px; border-bottom:1px solid #D3D1D1; 	}
.dlist ul li h4{ color:#757575; font-size:23px; line-height:25px; font-weight:normal !important; margin-bottom:10px  }	
.dlist ul li p{ color:#757575; font-size:17px; line-height:18px; margin-bottom:10px}
.dlist ul li span{color:#757575; font-size:17px; line-height:18px; }  


.dtform {float:left;font-size:13px; }	
.dtform ul{list-style:none; margin:0px; padding:0px;}	
.dtform ul li {line-height:38px;  float:left;width:100%;  margin:25px 0px  0; }
.dtform ul li p.lab{float:left; width:23%; line-height:20px;    }
.dtform ul li label{ font-size:14px;   text-align:right  }
.dtform ul li p.inp{float:left; width:73%; margin:0px 0px 0px 10px; }
.dtform ul li input{ font-size:16px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:90%; }
.dtform ul li select{font-size:16px;font-weight:normal;border:1px solid #D6D2CB; color:#757575; padding:8px 10px 10px 10px; margin:0px 0px ; width:100%; border-radius:0px; background:#fff; }
.dtform ul li select option{ margin-bottom:10px}
.dtform ul li textarea{ font-size:16px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px solid #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:89%;}

.detail_nav1{ float:left;  margin:8px 3% 0px  3% ; padding:0px 0px	}	
.detail_nav2{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }	
.detail_nav3{ float:left;  margin:8px 3% 0px  2% ;   padding:0px 0px }	
.detail_nav1_1{ float:left;  margin:8px 3% 0px  3% ;   padding:0px 0px }	


.nav{float:left; height:54px;  width: 100%; margin:0px auto;   }
.nav ul{list-style:none; margin:20px 0px 15px 20px; padding:0px;}
.nav ul li{ float: left; display:inline; margin:0px 5% 0px 0px; color:#757575; text-align:right  }
.nav ul li p{}


.footer{ width:100%; margin-top: 25px;  height:18px ; padding:8px 0px 15px 0px; clear:both; bottom:0px; z-index:5; text-align:center;}/* position:fixed; */
.footerc{margin:0px auto; width:80%;}	
.footer img{   padding:0px 5% 0px 5% !important }
.footer_left {  float: left;   text-align: right;  width: 75%; }
.footer_right {   text-align: right;  }

.device { background:#fff; height: 34px; margin: 30px 5% 5px 5%;position: relative; width: 90%; clear:both }

.swiper-container { width: 96%; margin:0px 2% 0px 2%;  z-index:2}   /*height: 360px; */
.device .arrow-left {  background: url(img/arrows.png) no-repeat left top; position: absolute;
  left: 10px; top: 50%; margin-top: -15px; width: 17px; height: 30px; }  
.device .arrow-right {  background: url(img/arrows.png) no-repeat left bottom;  position: absolute; right: 10px;
  top: 50%;  margin-top: -15px;   width: 17px;   height: 30px; }
  
 .detail_nav1{ float:left;  margin:8px 5% 0px  5% ; padding:0px 0px	}	
.detail_nav2{ float:left;  margin:8px 5% 0px  5% ;   padding:0px 0px }	
.detail_nav3{ float:left;  margin:8px 5% 0px  2% ;   padding:0px 0px }	
.detail_nav1_1{ float:left;  margin:8px 5% 0px  5% ;   padding:0px 0px }
.dlist ul li h4 a { font-size:18px !important; }
.dlist ul li h4  { font-size:18px !important; }

.lstdtfrmn {float:left;font-size:13px; margin-top:10px }	
.lstdtfrmn ul{list-style:none; margin:0px; padding:0px;}	
.lstdtfrmn ul li {line-height:38px;  float:left;width:100%;  margin:25px 0px ; }
.lstdtfrmn ul li p.lab{float:left; width:28%; line-height:20px;    }
.lstdtfrmn ul li label{ font-size:14px;   text-align:right; padding-left:30px  }
.lstdtfrmn ul li p.inp{float:left; width:60%; margin:0px 0px 0px 0px; }
.lstdtfrmn ul li input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px medium #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }
.lstdtfrmn ul li select{font-size:22px;font-weight:normal;border:1px solid #D6D2CB; color:#757575; padding:8px 10px 10px 10px; margin:0px 0px ; width:113%; border-radius:0px; background:#fff; }
.lstdtfrmn ul li select option{ margin-bottom:10px}
.text_search_wrapper{ float: left;font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px; margin:0px 0px ; width:113%; }
.text_search_wrapper input {border:none !important; width:70% !important; float:left !important;}
}

@media only screen and (max-width: 640px)  and (orientation : landscape){  /*shubham  landscape mode    */

.welsc { width:90%; clear:both;  margin:24px 3% 0px 3% }
.welhead{font-size:23px; padding:4px 0px 10px 0px}
.weltxt p{ font-size:17px; line-height:27px; text-align:justify; padding:5px 0px  }

.weltxt img{ width:100%}

.dsearch{ width:83%; float:left; margin:35px 0px 3px 0px; border-radius: 80px;margin-left: 90px; }
.dsearch .search_text[type="search"] { border-radius: 80px; width:84% !important;  height: 35px;background-image:url(../images_d/search1.png);	background-repeat:no-repeat;	 margin:9px 10% 0px 6%;	}
.dsearch input[placeholder="search"]{   padding-left: 32px;  text-align: inherit; border: 1px solid gray; }

	
.swiper-container {   height: 200px !important; width: 96%; z-index:2 } 	
   
.dlist ul{ list-style:none; }
.dlist ul li{ padding:3px 0px  0px 0px!important;  border-bottom:1px solid #D3D1D1; clear:both }
.dlist ul li h4{ color:#757575; font-size:14px; line-height:4px; font-weight:normal !important; width:100%;  }	
.dlist ul li p{ color:#757575; font-size:12px; line-height:4px; margin-bottom:1px !important; }
.dlist ul li spa	n{color:#757575; font-size:12px; line-height:4px; }  
.main-nav{ width:100%; margin:0 auto; height:77px !important; }

.footer{ width:100%; margin-top: 10px; height:18px ; padding:8px 0px 15px 0px; clear:both;  bottom:0px; z-index:5; text-align:center;}/*position:fixed;*/
.footerc{margin:0px auto; width:80%;}	
.footer img{   padding:0px 5% 0px 5% }
.footer_left {  float: left;   text-align: right;  width: 75%; }
.footer_right {   text-align: right;  }

.dtform {float:left;font-size:13px;}	
.dtform ul{list-style:none; margin:0px; padding:0px;}	
.dtform ul li {line-height:38px;  float:left;width:100%;  margin:25px 0px ; }
.dtform ul li p.lab{float:left; width:23%; line-height:20px;    }
.dtform ul li label{ font-size:14px;   text-align:right  }
.dtform ul li p.inp{float:left; width:70%; margin:0px 0px 0px 10px; }
.dtform ul li input{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px medium #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%; }
.dtform ul li select{font-size:22px;font-weight:normal;border:1px solid #D6D2CB; color:#757575; padding:8px 10px 10px 10px; margin:0px 0px ; width:113%; border-radius:0px; background:#fff; }
.dtform ul li select option{ margin-bottom:10px}
.dtform ul li textarea{ font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px medium #D6D2CB;  border-top:none; color:#757575; padding:0px 10px 10px 10px; margin:0px 0px ; width:100%;}

 }


@media (max-width: 320px) {
  
.welsc { width:90%; clear:both;  margin:24px 3% 0px 3% }
.welhead{font-size:23px;  padding:4px 0px 10px 0px}
.weltxt p{  font-size:15px; line-height:25px; text-align:justify; padding:5px 0px  }
.swiper-container { width: 96%; z-index:2 } 
.container_height { height:56px !important; }
.weltxt img{ width:100%}

.dsearch{ width:77%; float:left; margin:35px 0px 3px 0px; border-radius: 80px;margin-left: 10%; }
.dsearch input[placeholder="search"]{   padding-left: 32px;  text-align: inherit; border: 1px solid gray; }
.dsearch .search_text { width:88% !important; padding-left:18px; background:url(../images_d/search1.png) no-repeat ; position:relative; z-index:9; height: 35px; }
.search_button_wrapper { width:16% !important; float:right;padding: 4px; margin-top: 0.7%; }/**/
.search_input_wrapper { width: 79% !important; float: left; }
.invest_nav1{ float:left;  margin:8px 2% 0px  3% !important ; padding:0px 0px	}
.invest_nav2{ float:left;  margin:8px 5% 0px  2% ;   padding:0px 0px }
.invest_nav3{ float:left;  margin:8px 5% 0px  -2% ; padding:0px 0px  }


.detail_nav1{ float:left;  margin:8px 4% 0px  4% ; padding:0px 0px	}	
.detail_nav2{ float:left;  margin:8px 5% 0px  4% ;   padding:0px 0px }	
.detail_nav3{ float:left;  margin:8px 5% 0px  4% ;   padding:0px 0px }	
.detail_nav1_1{ float:left;  margin:8px 5% 0px  4% ;   padding:0px 0px }

.detail_nav1 figure figcaption{ text-align:center; font-size:12px;  color: black;}
.detail_nav2 figure figcaption{ text-align:center; font-size:12px;  color: black;  }
.detail_nav3 figure figcaption{ text-align:center; font-size:12px;  color: black;}
.detail_nav1_1 figcaption{ text-align:center; font-size:12px;  color: black;}
	
	

.invest_nav1_1{ float:left; margin:8px 2%  0px 2%   ; padding:0px 0px	}
.invest_nav2_1{ float:left; margin:11px 2%  0px 2% ; padding:0px 0px }
.invest_nav3_1{ float:left; margin:9px 2%  0px 2% ; padding:0px 0px  }

.invest_nav1_3{ float:left;  margin:9px 5px 0px 5px;  padding:0px 0px  }
.invest_nav2_3{ float:left;  margin:9px 5px 0px 7px !important;  padding:0px 0px  }

.invest_nav4_4{ float:left;  margin:8px 2% 0px  2% ; padding:0px 0px	}
.invest_nav4_5{ float:left;  margin:4px 2% 0px  2% ;   padding:0px 0px }
.invest_nav4_6{ float:left;  margin:4px 2% 0px  2% ; padding:0px 0px  }
.invest_nav4_7{ float:left;  margin:4px 2% 0px  2% ; padding:0px 0px  }

.invest_nav1 figure figcaption{ text-align:center; font-size:12px;  color: black;}
.invest_nav2 figure figcaption{text-align:center; font-size:12px;  color: black;}
.invest_nav3 figure figcaption{text-align:center; font-size:12px;  color: black;}

.invest_nav1_1 figure figcaption{ text-align:center; font-size:12px;  color: black;}
.invest_nav2_1 figure figcaption{text-align:center; font-size:12px;  color: black;}

.invest_nav3_1 figure figcaption{text-align:center; font-size:12px;   color: black;}
.invest_nav1_3 figure figcaption{text-align:center; font-size:12px;   color: black;}
.invest_nav2_3 figure figcaption{text-align:center; font-size:12px;  color: black;}

.invest_nav4_4 figure figcaption{text-align:center; font-size:12px;   color: black;}
.invest_nav4_5 figure figcaption{text-align:center; font-size:12px;   color: black;}
.invest_nav4_6 figure figcaption{text-align:center; font-size:12px;  color: black;}
.invest_nav4_7 figure figcaption{text-align:center; font-size:12px;  color: black;}

}
	
	@media (min-height: 600px) 
	{
	    .footer {position: fixed !important;}
}	
	
	figcaption { margin-left:4px; margin-right :4px; margin-bottom :3px; }

@media (min-width: 320px) and (max-width: 550px) 
{
    .dsearch{ width:82% !important;margin-left: 7% !important; }
    .search_button_wrapper { width:11% !important; margin-top: 0.5%;padding: 4px; }
    .dsearch .search_text { width:80% !important;}
    .search_input_wrapper { width: 80% !important;}
  }
@media  (min-width: 550px)  and (max-width: 900px)
{
    .search_input_wrapper { width:88% !important; }
     .search_button_wrapper { width:7% !important; margin-top: 0%;padding: 4px; }
}
.search_button
   { 
    float: left;
    margin:0px;
    height: 30px !important;
    width: 40px !important;
    border: 0;
    background: url("../images/search.png") no-repeat;
    cursor: pointer;
}
@media (max-width: 340px)
{
    .text_search_wrapper{ float: left;font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px; margin:0px 0px ; width:112%; }
    .text_search_wrapper input {border:none !important; width:68% !important; float:left !important;}
}
@media (min-width: 340px) and (max-width: 450px) 
{
    .text_search_wrapper{ float: left;font-size:22px; font-weight:normal; border-bottom:1px solid #D6D2CB; border-left: 1px outset #D6D2CB; border-right:1px solid #D6D2CB;  border-top:none; color:#757575; padding:0px; margin:0px 0px ; width:109%; }
    .text_search_wrapper input {border:none !important; width:73% !important; float:left !important;}

}
@media (min-width: 450px) and (max-width: 650px) 
{
    /*.text_search_wrapper { width:109% !important; }
    .text_search_wrapper input {width:74% !important;}*/
}
.footer { left: 0px !important;right: 0px !important;}
/*.dlist ul{ padding-bottom:0px !important;	}*/
.search_Image { height:24px; width:25px; cursor:pointer } 
.loading_wrapper { float:left; position: fixed; top:0px ; left:0px; display:none;z-index:4  }
.loading_image  { position: fixed; top: 50%;left: 50%;  margin-left: -75px; margin-top: -75px; }
input { outline:0; }